.about{
    &__wrapper{
        width: min(100%, 1100px);
        margin: auto;
        padding: 20px 10px;

        &__title{
            margin: 0 auto 20px;
            width: fit-content;

            h2{
                font-size: 2.5rem;
            }

            p{
                text-align: center;
                color: #808080;
            }
        }

        &__content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            padding: 20px 0;

            &__text{
                width: min(100%, 500px);
                p{
                    font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
                    line-height: 2;
                    margin-bottom: 20px;

                    &:first-child:first-letter{
                        font-size: 2.5rem;
                        font-family: 'Rufina';
                        vertical-align: bottom;
                        line-height: .9em;
                    }
                }
            }

            &__image{
                width: min(100%, 500px);
                box-shadow: clamp(0.625rem, -0.5469rem + 3.75vw, 1.5625rem) clamp(0.625rem, -0.5469rem + 3.75vw, 1.5625rem) 0 0 #d3d3d3;

                img{
                width: 100%;
                display: block;
                }
            }

            @media screen and (max-width:720px) {
                flex-direction: column;
                align-items: center;


                &__image{
                    width: min(100%, 250px);
                }
            }
        }
    }
}